<%- include("partials/header"); -%>
    <h1>About Us</h1>
    <img src="https://lh3.googleusercontent.com/a-/AOh14Gg4iguVIsY9lMrGEUfE5PJBkjbTzaUrEIfO0pA8aQ=s360-p-rw-no" class="pop" alt="">
    <h3>Varun Kumar</h3>
    <h4>MERN Stack developer.</h4>
    <h4>ECE Undergrad at National Institute of Technology, Kurukshetra</h4>


    <a href="https://www.facebook.com/varun.pathak.9081" class="fa fa-facebook"></a>
    <a href="https://github.com/varun-420/" class="fa fa-github"></a>
  <a href="mailto: varun_11815009@nitkkr.ac.in" class="fa fa-envelope"></a>
  <a href="https://www.linkedin.com/in/varun-pathak-5152171b3/" class="fa fa-linkedin"></a>

<%- include("partials/footer"); -%>
